@import '../../stylesheets/modules/classNames';
@import '../../stylesheets/modules/colors';

.#{$project-name} {
  .loader {
    img {
      @keyframes loader-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      animation: loader-spin infinite 20s linear;
      height: 10vmin;
    }
  }
}
