@import '../../stylesheets/modules/classNames';
@import '../../stylesheets/modules/colors';

.#{$project-name} {
  .final-view {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 20px;
      text-decoration: underline;
      color: $girl-dark;
      cursor: pointer;
    }

    span:hover {
      color: $girl-light;
    }

    ol {
      font-size: 30px;
      font-weight: 900;
      color: $boy-dark;
      max-height: 280px;
      overflow-y: auto;
      padding-left: 150px;

      li {
        text-align: left;
      }
    }
  }
}

.#{$project-name} {
  .girl {
    .final-view {
      span {
        color: $boy-dark;
      }

      span:hover {
        color: $boy-light;
      }

      ol {
        color: $girl-dark;
      }
    }
  }
}
