@import '../../stylesheets/modules/classNames';
@import '../../stylesheets/modules/colors';

.#{$project-name} {
  .custom-name-input {
    display: flex;
    flex-direction: row;

    .input {
      flex: 1;
      font-size: 22px;
      background-color: #263238;
      margin-right: 10px;
      margin-top: 5px;
      color: $boy-dark;
      font-weight: 900;
    }

    .button {
      flex: 0 0 auto;
      font-size: 26px;
      font-weight: 900;
      padding: 4px;
      border: solid 1px;
      border-radius: 25%;
      cursor: pointer;
    }

    .button {
      color: $boy-dark;
      background-color: $boy-light;
    }
    .button:hover {
      color: $boy-light;
      background-color: $boy-dark;
    }
  }
}

.#{$project-name} {
  .girl {
    .custom-name-input {
      .input {
        color: $girl-dark;
      }
      .button {
        color: $girl-dark;
        background-color: $girl-light;
      }
      .button:hover {
        color: $girl-light;
        background-color: $girl-dark;
      }
    }
  }
}
