@import '../../stylesheets/modules/classNames';
@import '../../stylesheets/modules/colors';

.#{$project-name} {
  .name-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 80px;
    font-weight: 900;
    color: $boy-dark;
    cursor: pointer;
    margin: 10px;
  }

  .name-container:hover {
    color: $boy-light;
  }
}

.#{$project-name} {
  .girl{
    .name-container {
      color: $girl-dark;
    }
    .name-container:hover {
      color: $girl-light;
    }
  }
}
