@import '../../stylesheets/modules/classNames';
@import '../../stylesheets/modules/colors';

.#{$project-name} {
  .root {
    height: calc(100vh - 80px);
    width: 100vw;
    padding-top: 80px;
    background-color: $dark-background;
    text-align: center;

    .header {
      padding-bottom: 100px;
      height: 40%;

      .logo {
        margin: 0 10%;
        height: 80%;
        @keyframes root-logo-spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(-90deg);
          }
        }

        animation: root-logo-spin 3s ease-in-out 1s infinite alternate;

        .cheeks {
          fill: $girl-dark;
        }
        .swaddle-dark {
          fill: $boy-dark;
        }
        .swaddle-light {
          fill: $boy-light;
        }
      }
    }
  }
}

.#{$project-name} {
  .root.girl {
    .header {
      .logo {
        .swaddle-dark {
          fill: $girl-dark;
        }
        .swaddle-light {
          fill: $girl-light;
        }
      }
    }
  }
}
