@import '../../stylesheets/modules/classNames';
@import '../../stylesheets/modules/colors';

.#{$project-name} {
  .root {
    height: calc(100vh - 80px);
    width: 100vw;
    padding-top: 80px;
    background-color: $dark-background;
    text-align: center;

    .header {
      padding-bottom: 100px;

      .logo {
        @keyframes root-logo-spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(-90deg);
          }
        }

        animation: root-logo-spin 3s ease-in-out 1s infinite alternate;
        height: 40vmin;
      }
    }
  }
}
